/* =========================================
   LAYOUTS
   -----------------------------------------
   Defines the structure of the page:
   - Header
   - Sidebar
   - Footer
   - Main content area
   - Page grid / flex layout

   Controls WHERE things go on the page
========================================= */
@import 'variable.css';

:root {
    --sidebar-width: 250px;

}


/* Full Page Wrapper Grid */
.wrapper {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
    min-height: 100vh;
}


/* ---------------------------------------------- Sidebar Start -------------------------------------------- */

/* Full Page Wrapper COllapse Class */
.wrapper.collapsed {
    grid-template-columns: 55px 1fr;
}

/* Left Section of Full Page Wrapper the Sidebar Section */
.sidebar {
    grid-area: sidebar;
    background-color: var(--neutral-grey-600);
    color: var(--neutral-grey-100);
    padding: 10px;
}

/* Middle Section of Sidebar */
.sidebar .menu {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Reused Nav Item for Sidebar Menus */
.nav-item {
    color: var(--neutral-grey-100);
    line-height: 3;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
}


/* Sidebar icon button on load state */
.fa-arrow-right{
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}

/* Sidebar icon button open animation triggered in navigation.js */
.fa-arrow-right-open{
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}


/* general reusable styling for our icons */
 .glyph-icon {
    font-weight: 700;
    vertical-align: middle;
    padding: 10px;
    
}

/* general button styling class for dropdown  */
.dropdown-button{
    background: transparent;
    border: none;
}

/* Bottom portion of Sidebar where we have settings */
.sidebar .menu-bottom {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Top portion of Sidebar where we have logo + our bar icon button for dropdown collapse */
.sidebar .menu-top{
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/* Sets color of text in top menu */
.menu-top  {
    color: var(--neutral-grey-100);
}
/* Sets color on hover of text and icons in top menu */
.menu-top i:hover {
    color: var(--neutral-grey-100);
}
/* Padding to perfectly center the collapse button so it fits with the collapse animation */
.menu-top .bars{
    padding: 10px;
}
/* logo styling to account for size and aspect ration of image(our logo) */
.logo{
    width: 40%;
    height: auto;
}


/* ---------------------------------------------- Sidebar End -------------------------------------------- */

/* ===== HEADER ===== */
.header {
    grid-area: header;
    background-color: var(--neutral-grey-100);
    border-bottom: 1px solid var(--neutral-grey-100);
    padding: 20px;
}

/* ===== CONTENT ===== */
.content {
    grid-area: content;
    background-color: var(--neutral-grey-800);
    padding: 20px;
}